.show-more {
    height: 50px;
    width: 502px;
    border-radius: 5px;
    border: none;
    background-color: #2196F3;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}