.avia-sales {
    width: fit-content;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    &__main-conten {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    margin: 0 auto;
}
.logo-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-cont--animation {
    animation-name: logo-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}